/*========== HEADER ===========*/

header {
    width: 100%;
    height: 50px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

   @media only screen and (max-width: 900px) {
    header{
      flex-direction: column;
      height: auto;
      padding: 0;
    }
  }

  header ul.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  header ul.nav > li {
    display: table-cell;
    position: relative;
    padding: 10px 0;
  }
  
  a.email div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  a.email div > * {
    margin-right: 10px;
  }