<footer class="darkbg">
    <div class="footer__inner">
        <h1>End Of The Page</h1>
        <hr class="solid">

        <div id="footer__content">
            <div class="socials">
                <a href="https://www.linkedin.com/in/tkalandarov/"><img src="/images/in.png" alt="" class="hover-zoom"></a>
                <a href="https://www.instagram.com/timsyachtparty/"><img src="/images/insta.png" alt="" class="hover-zoom"></a>
                <a href=""><img src="/images/tg.png" alt="" class="hover-zoom"></a>
                <a href=""><img src="/images/wa.png" alt="" class="hover-zoom"></a>
            </div>
            <a href="mailto:tkalandarov@usf.edu" class="email">
                <div>
                    <img src="/images/email.png" class="hover-zoom">
                    <span>tkalandarov@usf.edu</span>
                </div>
            </a>
        </div>
    </div>
</footer>