<header class="lightbg">
  <!-- LEFT -->
  <div class="logo">
    <span>TK.</span>
  </div>
  <!-- CENTER -->
  <ul class="nav">
    <li><a class="nav-link" href="/">Home</a></li>
    <li><a class="nav-link" href="#about">About</a></li>
    <li><a class="nav-link" href="#skills">Skills</a></li>
    <li><a class="nav-link" href="#works">Works</a></li>
    <!--<li><a class="nav-link" href="/">Journey</a></li>-->
    <li><a class="nav-link" href="/resources/resume.pdf">Resume</a></li>
    <li><a class="nav-link" href="#contact">Contact</a></li>
  </ul>
  <!-- RIGHT -->
  <div class="email-wrapper">
    <i class="fas fa-envelope"></i>
    <a href="mailto:tkalandarov@outlook.com" class="email">
      <div class="logo">
        <span>
          tkalandarov@usf.edu
        </span>
      </div>
    </a>
  </div>

  <button class="nav-mobile-open" onclick="toggleMobileNav()"><i
      class="fas fa-bars"
    ></i></button>

  <!-- Mobile Menu -->
  <div class="nav-mobile">
    <nav class="nav-head">
      <span style="margin-left: 10%; font-size: 25px; color: #F26B50">
        MENU
        </span>
      <button class="nav-mobile-close" onclick="toggleMobileNav()">
        <i class="fas fa-times"></i>
      </button>
    </nav>

    <ul class="nav-mobile-links">
      <li><a class="nav-link" href="/" onclick="toggleMobileNav()">Home</a></li>
      <li><a class="nav-link" href="#about" onclick="toggleMobileNav()">About</a></li>
      <li><a class="nav-link" href="#skills" onclick="toggleMobileNav()">Skills</a></li>
      <li><a class="nav-link" href="#works" onclick="toggleMobileNav()">Works</a></li>
      <li><a class="nav-link" href="/resources/resume.pdf" onclick="toggleMobileNav()">Resume</a></li>
      <li><a class="nav-link" href="#contact" onclick="toggleMobileNav()">Contact</a></li>
    </ul>

    <div class="email-wrapper">
      <a href="mailto:tkalandarov@outlook.com" class="email">
        <div class="logo">
          <span>
            tkalandarov@usf.edu
          </span>
        </div>
      </a>
    </div>
  </div>
</header>