<header class="lightbg">
  <!-- LEFT -->
  <a href="mailto:tkalandarov@usf.edu" class="email">
    <div>
      <img src="/images/email.png" width="50" height="50" />
      <span>tkalandarov@usf.edu</span>
    </div>
  </a>
  <!-- RIGHT -->
  <ul class="nav">
    <li><a class="underline" href="/">Home</a></li>
    <li><a class="underline" href="/biography">Biography</a></li>
    <li><a class="underline" href="/resources/resume.pdf">Resume</a></li>
    <li><a class="underline" href="/contact">Contact</a></li>
  </ul>
</header>