<main>
  <!-- HOME -->
  <section id="home">
    <div class="section__inner">
      <div class="name">
        <h1>
          Timur
          <br />
          Kalandarov
        </h1>
      </div>
      <div class="info">
        <h1>Software Developer</h1>
      </div>
      <div class="parallax">
        <img src="/images/me.png" id="me" />
      </div>
    </div>
  </section>

  <!-- ABOUT -->
  <section id="about" class="two-sided">
    <div class="section__inner">
      <div class="section__title">
        About me
      </div>
      <div class="left">
        <h2>I set goals, I see no obstacles.</h2>
        <p>
          I am a high performing rising student and IT specialist with a bright
          five-years-long history of active participation in the computer
          software industry. My energetic soul is fully committed to and truly
          passionate about my specialty. My artistic and oratorical skills
          perfectly accompany my amiability and make me a valuable asset of any
          team I join. My stress-handling and adaptiveness is evidenced by the
          difficulties I have overcome as an international student from Central
          Asia.
        </p>
        <div class="inlined-text">
          <h1 class="big-num">5</h1>
          <span class="small-text">Years Of<br />Experience</span>
        </div>
      </div>
      <div class="right">
        <h1>Any Type of Query &amp; Discussion</h1>
        <p style="font-size: 14pt;">Let's talk!</p>
        <a href="#contact" class="accent-btn">
          Contact me!
        </a>
      </div>
    </div>
  </section>

  <!-- SKILLS -->
  <section id="skills">
    <div class="section__inner">
      <div class="section__title title_center">
        My skills
      </div>
      <h2>Quality First</h2>
      <div class="skills-wrapper">
        <div class="skill">
          <h1><i class="fas fa-shapes"></i></h1>
          <h2>General</h2>
          <p>I speak Russian and English, have a creative mindset, and am one of
            the brightest engineers this world has ever seen!</p>
        </div>
        <div class="skill skill-center">
          <h1><i class="fas fa-code"></i></h1>
          <h2>Coding</h2>
          <p>I specialize in OOP-based development with the use of fundamental
            programming patterns and newest technologies.</p>
        </div>
        <div class="skill">
          <h1><i class="fab fa-cloudsmith"></i></h1>
          <h2>Networking</h2>
          <p>When I first got into America, I had nothing. Now I have dozens of
            friends and colleagues, as well as senior staff members, who value
            me, and whom I love and respect.</p>
        </div>
      </div>
      <p class="skills-list">
        C# ∙ HTML ∙ CSS ∙ JavaScript ∙ TypeScript ∙ JQuery ∙ React ∙ Redux ∙ SQL
        <br />
        ASP.NET ∙ Azure ∙ WPF ∙ Java Android ∙ ElectronJS ∙ Node.JS
        <br />
        OOP ∙ SOLID ∙ GoF Patterns ∙ Git ∙ Unit Testing ∙ Asynchronous
        Programming ∙ Multithreading ∙ Data Structures ∙ Algorithms ∙ Time
        Complexity
      </p>
    </div>
  </section>

  <!-- WORKS -->
  <section id="works">
    <div class="section__inner">

      <div class="section__title title_center">
        Portfolio
      </div>
      <h2>Creativity Unleashed</h2>

      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <a
              href="https://github.com/tkalandarov/chat-application"
              target="_blank"
            >
              <img src="/images/projects/chat.png" />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://github.com/tkalandarov/JellyMusic" target="_blank">
              <img src="/images/projects/music.gif" />
            </a>
          </div>
          <div class="swiper-slide">
            <a
              href="https://github.com/tkalandarov/CloudflareSocialNetwork"
              target="_blank"
            >
              <img src="/images/projects/social.png" />
            </a>
          </div>
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>

  <!-- CONTACT -->
  <section id="contact" class="two-sided">
    <div class="section__inner">
      <div class="section__title">
        Get In Touch
      </div>
      <div class="left">
        <h2>Talk or Meet With Me</h2>
        <!-- Phone -->
        <div class="line">
          <h2><i class="fas fa-phone"></i></h2>
          <div class="vertical">
            <p>Call me now</p>
            <h3>(813) 375-1906</h3>
          </div>
        </div>
        <!-- Email -->
        <div class="line">
          <h2><i class="fas fa-comment-alt"></i></h2>
          <div class="vertical">
            <p>Email me</p>
            <h3>tkalandarov@outlook.com</h3>
          </div>
        </div>
      </div>
      <div class="right">
        <h2>Find Me Here</h2>
        <!-- LinkedIn -->
        <div class="line">
          <h2><i class="fab fa-linkedin-in"></i></h2>
          <div class="vertical">
            <p>Connect with me</p>
            <a href="https://www.linkedin.com/in/tkalandarov/" target="_blank">
              <h3>LinkedIn</h3>
            </a>
          </div>
        </div>

        <!-- GitHub -->
        <div class="line">
          <h2><i class="fab fa-github"></i></h2>
          <div class="vertical">
            <p>Check my projects</p>
            <a href="https://github.com/tkalandarov" target="_blank">
              <h3>GitHub</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>