<main>
  <!-- HOME -->
  <section id="home" class="lightbg">
    <div class="section__inner">
      <img src="/images/bitmoji.png" width="250" />
      <div class="text-wrapper">
        <h2>Hi, I'm Timur 🤘</h2>
        <h1>Creating digital products for 4 years.</h1>
        <h3> with love from </h3>
        <h2>Florida, USA | Kyrgyzstan </h2>
      </div>
      <div class="arrow bounce">
        <a class="fa fa-arrow-down fa-2x" href="#photos"></a>
      </div>
    </div>
  </section>
  <!-- PHOTOS -->
  <section id="photos" class="darkbg">
    <div class="section__inner">
      <h1>My appearance</h1>
      <div class="photos-container">
        <div>
          <figure class="hover-shine"><img src="/images/me/1.jpg"></figure>
          <figure class="hover-shine"><img src="/images/me/2.jpg"></figure>
        </div>
        <div>
          <figure class="hover-shine"><img src="/images/me/3.jpg"></figure>
        </div>
        <div>
          <figure class="hover-shine"><img src="/images/me/4.jpg"></figure>
          <figure class="hover-shine"><img src="/images/me/5.jpg"></figure>
        </div>
      </div>
    </div>
  </section>
  <!-- PROJECTS -->
  <section id="projects" class="lightbg">
    <div class="section__inner">
      <h1>My projects</h1>
      <div class="projects-container">
        <!-- Game -->
        <div class="project">
          <figure class="hover-shine"><img src="/images/projects/game.png"></figure>
          <div class="techs">
            <img src="/images/techs/unity.png" class="hover-zoom">
            <img src="/images/techs/ai.png" class="hover-zoom">
            <img src="/images/techs/ps.png" class="hover-zoom">
            <img src="/images/techs/csharp.png" class="hover-zoom">
          </div>
        </div>
        <!-- History -->
        <div class="project">
          <figure class="hover-shine"><img src="/images/projects/history.png"></figure>
          <div class="techs">
            <img src="/images/techs/android.png" class="hover-zoom">
            <img src="/images/techs/java.png" class="hover-zoom">
          </div>
        </div>
        <!-- Website -->
        <div class="project">
          <figure class="hover-shine"><img src="/images/projects/giftbox.png"></figure>
          <div class="techs">
            <img src="/images/techs/aspcore.png" class="hover-zoom">
            <img src="/images/techs/html.png" class="hover-zoom">
            <img src="/images/techs/css.png" class="hover-zoom">
            <img src="/images/techs/js.png" class="hover-zoom">
          </div>
        </div>
        <!-- Player -->
        <div class="project">
          <figure class="hover-shine"><img src="/images/projects/music.png"></figure>
          <div class="techs">
            <img src="/images/techs/wpf.png" class="hover-zoom">
            <img src="/images/techs/csharp.png" class="hover-zoom">
          </div>
        </div>
      </div>
      <a href="https://github.com/tkalandarov" target="_blank">
      <h2 class="typewriter">More on my GitHub</h2>
      </a>
    </div>
  </section>
</main>