<main>
  <section id="home" class="lightbg">
    <div class="section__inner">
      <img src="/images/bitmoji.png" alt="" width="250" />
      <div class="text-wrapper">
        <h2>Hi, I'm Timur 🤘</h2>
        <h1>Creating digital products for 4 years.</h1>
        <h3> with love from </h3>
        <h2>Florida, USA | Kyrgyzstan </h2>
      </div>
      <div class="arrow bounce">
        <a class="fa fa-arrow-down fa-2x" href="#photos"></a>
      </div>
    </div>
  </section>
  <section id="photos" class="darkbg">
    <div class="section__inner">
      <h1>My appearance</h1>
      <div class="photos-container">
        <figure class="hover-shine"><img src="/images/me/1.jpg" alt=""></figure>
        <figure class="hover-shine"><img src="/images/me/2.jpg" alt=""></figure>
        <figure class="hover-shine"><img src="/images/me/3.jpg" alt=""></figure>
        <figure class="hover-shine"><img src="/images/me/4.jpg" alt=""></figure>
        <figure class="hover-shine"><img src="/images/me/5.jpg" alt=""></figure>
      </div>
    </div>
  </section>
</main>