<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>{{{title}}}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- Normalize -->
  <link rel="stylesheet" href="/lib/normalize/normalize.min.css" />

  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/main.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/partial/header.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/partial/footer.css'>
  <!-- Open Sans -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'>
  <!-- FontAwesome -->
  <link rel="stylesheet" href="/lib/fontawesome/font-awesome.css" />


  {{#each css}}
  <link rel="stylesheet" href="/stylesheets/{{this}}">
  {{/each}}

</head>

<body>
  {{> header}}
    {{{body}}}
  {{> footer}}

  <script src="/javascripts/jquery.min.js"></script>

  {{#each js}}
  <script src="/javascripts/{{this}}"></script>
  {{/each}}
</body>

</html>