@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes slideIn {
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

*.hover-zoom{
  transition: all .1s ease-in-out;
}

*.hover-zoom:hover{
  transform: scale(1.1);
}

/* Hover Shine */
figure.hover-shine  {
	margin: 0;
	padding: 0;
	background: transparent;
	overflow: hidden;
	position: relative;
}
figure.hover-shine::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
figure.hover-shine:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* Typing Text */
.typewriter{
  animation: typewriter 2s steps(33) 1s 1 normal both, blinkTextCursor 500ms steps(33) infinite normal;
  position: relative;
  top: 50%;  
  margin: 0 auto;
  border-right: 2px solid var(--dark-color);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);   
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 310px;}
}
@keyframes blinkTextCursor{
  from{border-right-color: var(--dark-color);}
  to{border-right-color: transparent;}
}