/*========== PRELOAD TEXT ===========*/

body > div {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  animation: fadeOut 0.5s ease-in 0.1s forwards;
}

/*========== PAGE WRAPPER ===========*/

#page-wrapper{
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/*========== HEADER ===========*/

header{
  position: absolute; /* This is to set #home to 100vh */
}

/*========== ALL SECTIONS ===========*/

body section{
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

section .section__inner{
  padding: 25px;
  margin: 0 auto;
}

section .section__inner > h1{
  margin: 0.3em;
}

/*========== HOME SECTION ===========*/

#home {
  text-align: center;
  height: 100vh;
  max-height: none;
}

#home .section__inner{
  padding-top: 100px;
}

#home img {
  transform: translateY(10%);
}
.loaded #home img {
  animation: slideIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 1s forwards;
}

#home h3,
#home h2 {
  margin: 5pt;
}

body .text-wrapper * {
  transform: translateY(120%);
}

@media only screen and (max-width: 900px) {
  #home img {
    transform: translateY(0%);
    width: 200px;
  }
  body .text-wrapper * {
    transform: translateY(30%);
  }
}

.loaded .text-wrapper * {
  animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 1s forwards;
}

.arrow {
  text-align: center;
  margin: 8% 0;
  margin-bottom: 0;
}

.arrow a {
  color: var(--dark-color);
  text-decoration: none;
}

.bounce {
  animation: bounce 2s infinite;
}

@media only screen and (max-width: 900px) {
  .arrow{
      margin: 15% 0;
  }
}

/*========== PHOTOS SECTION ===========*/

#photos .photos-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.photos-container figure{
    margin: 20px;
  }

  .photos-container figure img{
    width: 100%;
  }

  @media only screen and (max-width: 1000px) {
    #photos .photos-container > div:nth-child(2) {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    #photos .photos-container{
      flex-direction: column;
    }
  }

  /*========== PROJECTS SECTION ===========*/

  #projects .projects-container{
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }

  .projects-container .project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 45%;
  }

  @media only screen and (max-width: 800px) {
    .projects-container .project{
      width: 100%;
    }
  }

  .projects-container .project figure img{
    width: 100%;
  }
  .projects-container .project .techs{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects-container .project .techs > *{
    margin: 10px;
  }
  .projects-container .project .techs img{
    width: 60px;
  }

  @media only screen and (max-width: 1600px) {
    .projects-container .project {
      flex-direction: column;
    }
    .projects-container .project .techs{
      flex-direction: row;
        }
  }

  #projects a h2{
    width: 310px;
    margin-top: 50px;
  }

