/*========== PRELOAD TEXT ===========*/

body > div {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  animation: fadeOut 0.5s ease-in 0.1s forwards;
}

/*========== PAGE WRAPPER ===========*/

#page-wrapper{
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/*========== ALL SECTIONS ===========*/

body section{
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

section .section__inner{
  padding: 25px;
  margin: 0 auto;
}

section .section__inner > h1{
  margin: 0.3em;
}

/*========== HOME SECTION ===========*/

#home {
  text-align: center;
  height: 100vh;
  max-height: none;
}

#home img {
  margin-top: 4.5em;
  transform: translateY(10%);
}
.loaded #home img {
  animation: slideIn 0.5s cubic-bezier(0.54, 0.46, 0.54, 0.94) 1s forwards;
}

#home h3,
#home h2 {
  margin: 5pt;
}

body .text-wrapper * {
  transform: translateY(120%);
}

.loaded .text-wrapper * {
  animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 1s forwards;
}

.arrow {
  text-align: center;
  margin: 8% 0;
  margin-bottom: 0;
}

.arrow a {
  color: var(--dark-color);
  text-decoration: none;
}

.bounce {
  animation: bounce 2s infinite;
}

/*========== PHOTOS SECTION ===========*/

#photos .photos-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.photos-container figure{
    margin: 20px;
  }

  .photos-container figure img{
    width: 100%;
  }

  /*@media only screen and (max-width: 960px) {
    #photos img{
      margin: 10px;
    }
  }*/

  /*========== PROJECTS SECTION ===========*/

  #projects .projects-container{
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }

  .projects-container .project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 25px;
  }
  .projects-container .project .techs{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects-container .project .techs > *{
    margin: 10px;
  }
  .projects-container .project .techs img{
    width: 60px;
  }

  #projects a h2{
    width: 310px;
    margin-top: 50px;
  }