/*========== HEADER ===========*/

a.email{
  text-decoration: none;
}

/*========== ALL SECTIONS ===========*/

main section {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

main> :nth-child(even) {
  background-color: #1F1F1F;
}

section .section__inner {
  padding: 75px 0;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

section .section__title {
  font-size: 10pt;
  display: flex;
  text-align: left;
  align-items: center;
  color: var(--accent-color);
  text-decoration: underline;
  width: 170px;
  position: absolute;
}

section .section__title::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid var(--accent-color);
}

section .section__title:not(:empty)::after {
  margin-left: .5em;
}

.section__title.title_center {
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.section__title.title_center::after {
  content: none;
}

section.two-sided .section__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

section.two-sided .section__inner>* {
  flex: 40%;
  padding: 0;
}

section p {
  font-size: 10pt;
}

/* ============ OTHER ======================*/

.big-num {
  font-size: 36pt;
  color: var(--accent-color);
}

.small-text {
  font-size: 13pt;
  font-weight: 400;
}

/*========== HOME SECTION ===========*/

#home {
  text-align: center;
  max-height: none;
}

#home .section__inner {
  padding-top: 100px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  position: relative;
}

#home .name h1 {
  font-size: 40pt;
  text-align: right;
}

#home .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}

#home .info h1 {
  text-align: left;
}

#home img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: all .3s;
  filter: opacity(.5);
}

#home img:hover {
  filter: opacity(1);
}

#me {
  max-width: 600px;
  width: 90%;
}

@media only screen and (max-width: 763px) {
  #home .section__inner {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
  }
  #home .name h1 {
    font-size: 20pt;
    text-align: center;
    margin-bottom: 0;
  }

  #home .info{
    width: auto;
  }
  
  #home .info h1 {
    text-align: center;
    font-size: 12px;
  }

  #home img{
    bottom: 0;
    top: auto;
  }
}


#home .section__inner::after {
  content: '';
  width: 100%;
  height: 50px;
  background-color: #1F1F1F;
  position: absolute;
  bottom: -50px;
  left: 0;
}

/*============ ABOUT ==============*/

#about .left{
  margin-right: 25px;
}

@media only screen and (max-width: 763px) {
  #about .right{
    display: none;
  }
}


/*============ SKILLS ==============*/

#skills .skills-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#skills * {
  text-align: center;
}

.skills-wrapper {
  margin-bottom: 25px;
}

.skills-wrapper .skill {
  flex: 25%;
  padding: 50px 10px;
}

@media only screen and (max-width: 763px) {
  .skills-wrapper .skill {
    flex: initial;
    padding: 20px 10px;
  }
}

.skill-center {
  background-color: #1F1F1F;
  border-bottom: 10px solid var(--accent-color);
  margin: 0 10px;
  /*border-right: 10px solid var(--accent-color);*/
}

.skill i {
  color: var(--accent-color);
}

/* ================ Works ==================== */

#works * {
  text-align: center;
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper img{
  width: inherit;
  height: 300px;
  object-fit: fill;
}

.swiper-pagination-bullet-active{
  background: #F26B50 !important;
}

/* ================ Contact ==================== */

#contact i {
  color: var(--accent-color);
}

#contact .line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#contact .vertical {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

#contact .vertical h3{
  margin: 0;
}
#contact .vertical p{
  margin-bottom: 5px;
}

@media only screen and (max-width: 763px) {
  #contact .vertical h3{
    font-size: 17px;
  }
}
